# Override model paths (absolute or relative to project root)
LENET_PATH=code/Lenet/model_blood_group_detection_lenet.h5
RESNET_PATH=code/Resnet34/model_blood_group_detection_resnet.h5
VGG16_PATH=code/Vgg16/model_blood_group_detection_vgg.h5
ALEXNET_PATH=code/Alexnet/model_blood_group_detection_alexnet.h5
